.ds {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.pathways {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.pathway-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1000px;
}

.pathway {
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
    /* background-color: rgb(0, 137, 244, 0.5); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #2e2d2d;
    text-decoration: none;
}

.pathway img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.pathway-info {
    padding: 20px;
    /* border: 1px solid #2e2d2d; */
    border-top: none;
    align-items: flex-start;
    /* height: 120px; */
}

.pathway h2 {
    font-size: 20px;
    color: #2e2d2d;
}

.pathway img {
    width: 100%;
}

.rating .iconn {
    color: #0089F4;
}